body{
    margin-left: 5%;
    margin-top: 3%;
    width: 80%;
    height: 85%;
}
#frame{margin-bottom: 3%;
    display: flex;
    flex-direction: column;
    border: 1px solid aquamarine;
    /* background-color: aquamarine */
    
}
.required{
    color: red;
}
#row1{
    margin-left: 0%;
    background-color: aquamarine
}
#row2{
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    /* border: 1px solid black; */
}
#row3{
    /* flex-shrink: 2; */
    display: block;
    height: 35px;
    background-color: rgba(158, 148, 148, 0.5);
}
#row2col1{
    /* align-self: stretch; */
    margin-left: 2%;
}
#row2col2{
    /* align-self: stretch; */
    margin-left: 5%;
}
#row2col3{
    /* margin-top: 0; */
    margin-left: 20%;

}

#row2col4
{
    /* align-self: stretch; */
    /* align-self: top; */
    margin-top: 5%;
    margin-left: 3%;
}
.row2col1s{
    /* margin-top: 10%; */
}