body{
    margin-top: 2%;
    margin-left: 3%;

}
#logo{
    height: 50px;
    width: 50px;
}
#logout{
    border: 1px solid red; 
    margin-left: 40%;
    align-self: center;
}
#welcome{
    margin-left: 33%;
    width: auto;
    border: none;
    align-self: center;
}
#middle{
    flex-direction: column;
}
.view{
    display: flex;
    width: 65%;
    border: 1px solid blue;
    padding: 1%;
}

.table, th, td, tr{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}
